<%= form_with(model: @worker, method: "post", local: true, class:"form container") do |f| %>
  <div class="row mb-3 pb-3 bg-light border rounded">
    <h3 class="bg-secondary text-white">Dados Pessoais</h3>
    <div class="col-lg-6">
      <%= f.label :name, "Nome completo" %>
      <%= f.text_field :name,
                          :class => "form-control #{ "is-invalid" if @worker.errors[:name].any? }",
                          :placeholder => "Ex.: João Batista" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:name].first %>
      </p>
    </div>

    <div class="col-lg-3">
      <%= f.label :cpf, "CPF" %>
      <%= f.text_field :cpf, class:"form-control",
                          :placeholder => "Ex.: xxx.xxx.xxx-xx" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:cpf].first %>
      </p>  
    </div>

    <div class="col-lg-3">
      <%= f.label :birthdate, "Data de nascimento" %>
      <%= f.date_field :birthdate, class:"form-control" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:birthdate].first %>
      </p>
    </div>

    <div class="col-lg-3">
      <%= f.label :personal_phone, "Telefone pessoal" %>
      <%= f.text_field :personal_phone, :class => "form-control",
                          :placeholder => "Ex.: (xx)xxxxx-xxxx" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:personal_phone].first %>
      </p>
    </div>

    <div class="col-lg-3">
      <%= f.label :reference_phone, "Telefone de referência" %>
      <%= f.text_field :reference_phone, class:"form-control",
                          :placeholder=>"Ex.: (xx)xxxxx-xxxx" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:reference_phone].first %>
      </p>
    </div>

    <div class="col-lg-3">
      <%= f.label :salary, "Salário" %>
      <%= f.text_field :salary, class:"form-control",
                          :placeholder=>"Ex.: 3.0000,00" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:salary].first %>
      </p>
    </div>

  </div>
  <div class="row mb-3 pb-3 bg-light border rounded">
    <h3 class="bg-secondary text-white">Dados de Endereço</h3>
    <div class="col-lg-4">
      <%= f.label :state, "Estado" %>
      <%= f.text_field :state, class:"form-control",
                          :placeholder=>"Ex.: Rio Grande do Norte" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:state].first %>
      </p>
    </div>

    <div class="col-lg-4">
      <%= f.label :city, "Cidade" %>
      <%= f.text_field :city, class:"form-control",
                          :placeholder=>"Ex.: Natal" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:city].first %>
      </p>
    </div>

    <div class="col-lg-4">
      <%= f.label :district, "Bairro" %>
      <%= f.text_field :district, class:"form-control",
                          :placeholder=>"Ex.: Cidade Nova" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:district].first %>
      </p>
    </div>

    <div class="col-lg-6">
      <%= f.label :street, "Rua" %>
      <%= f.text_field :street, class:"form-control",
                          :placeholder=>"Ex.: Rua Santo Amaro" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:street].first %>
      </p>
    </div>

    <div class="col-lg-2">
      <%= f.label :number, "Número" %>
      <%= f.text_field :number, class:"form-control",
                          :placeholder=>"Ex.: 8080" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:number].first %>
      </p>
    </div>

    <div class="col-lg-2">
      <%= f.label :zip_code, "CEP" %>
      <%= f.text_field :zip_code, class:"form-control",
                          :placeholder=>"Ex.: 59072-620" %>
      <p class="invalid-feedback">
        <%= @worker.errors[:number].first %>
      </p>
    </div>
  </div>

  <div class="actions">
    <%= f.button "Adicionar", type: "submit", :class=> "btn btn-success" %>
    <%= link_to 'Cancelar', workers_path, :class => "btn btn-danger"%>
  </div>
<% end %>

<%= javascript_pack_tag "worker_form" %>
<%= render partial: "layouts/notifier" %>