<div class='container'>
  <p id="notice"><%= notice %></p>

  <h1>Listagem de proponentes</h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th class="w-50">Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>CEP</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% if @workers.empty? then %>
          <tr class="empty_row">
            <td colspan="5">Nenhum proponente cadastrado</td>
          </tr>
        <% end %>
        <% @workers.each do |worker| %>
          <tr>
            <td><%= worker.name %></td>
            <td><%= worker.cpf %></td>
            <td><%= worker.personal_phone %></td>
            <td><%= worker.zip_code %></td>
            <td class="table_actions">
              <%= link_to 'Show', worker, class: "btn btn-primary btn-sm" %>
              <%= link_to 'Edit', edit_worker_path(worker), class: "btn btn-secondary btn-sm" %>
              <%= link_to 'Destroy', worker,
                                     method: :delete,
                                     data: { confirm: 'Are you sure?' }, 
                                     class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
        <% (@workers.current_per_page - @workers.count).times do %>
          <tr class="invisible_row">
            <td colspan="5"> &nbsp </td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <%= paginate @workers, window: 2, outer_window: 1 %>
  </div>
</div>
